/* CSS (globals.css) */

.homepage-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 3rem);
  width: 100vw;
  margin: 0;
  overflow: hidden;
  background: #293135;
  padding: 0;
}

.card {
  margin-left: 2rem;
  height: 80vh;
  background: #293135;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid white;
}

.content-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white;
}

.upload-button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #ffffff;
  color: #293135;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.upload-button:hover {
  background-color: #0056b3;
}

.response-button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.response-button:hover {
  background-color: #0056b3;
}

.second-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.back-button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}

/* Additional CSS for Navbar positioning */

.navbar {
  width: 100vw;
  padding: 1rem;
  background-color: #293135;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 0;
  border: 1px solid white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar-container h2:first-child {
  margin-right: auto;
}

.navbar-container h2:last-child {
  margin-left: auto;
}

.navbar h2 a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar h2 a:hover {
  color: #00b4d8;
}
