/* globals.css */
.loading-circle {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #EC6E57;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  align-self: center;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.background-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #293135;
  overflow: hidden;
}

.homepage-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 3rem);
  width: 100vw;
  margin: 0;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  height: 80vh;
  background: #EC6E57;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid black;
}


.right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
}

.analysis-card {
  flex: 1;
  min-height: 35vh;
  width: 60vh;
  max-height: fit-content;
  background: #EC6E57;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: left;
  border: 1px solid black;
  color: white;
  overflow-y: auto;
  margin-bottom: auto; /* Aligns with .card */
}

.analysis-title {
  margin-bottom: 0.5rem;
}

.uploaded-video {
  height: 100%;
  width: auto;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border: 3px solid #EC6E57;
}

.video-container {
  flex: 1;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  border-radius: 15px;
  overflow: hidden;
}

.analysis-container {
  flex: 1;
}

.content-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white;
}

.upload-button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #ffffff;
  color: #293135;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.upload-button:hover {
  background-color: #293135;
  color: white;
}

.response-button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.response-button:hover {
  background-color: #0056b3;
}



.video-placeholder {
  margin-bottom: 2rem;
  border: 2px solid white;
  padding: 1rem;
  background-color: #333;
  border-radius: 50px;
}


.back-button:hover {
  background-color: #0056b3;
}




